:root {
  --color-primary: #2661BF;
  --color-secondary: #D62222;
  --color-tertiary: ;
  --gradient-primary: #0F1218;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Oswald', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

body {
  min-height: 100%;
  height: 100vh;
  background-color: var(--gradient-primary);
}

header {
  z-index: 20;
  margin: 0 auto;
  position: fixed;
  width: 80%;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  transition: 1s all;
  background-color: transparent;
}

header.abajo {
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, .8);
  transition: 1s all;
  z-index: 20;
}

header .logo {
  cursor: pointer;
  max-width: 7rem;
}

.nav-list {
  position: relative;
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.nav-list li a {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.nav-list li a:hover {
  color: var(--color-secondary);
}

.nav-list li a:active {
  color: var(--color-secondary);
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 992px) {
  header {
    width: 100%;
    left: 0%;
  }

  header.abajo {
    margin-top: 0rem;
    border-radius: 0;
  }

  header .logo {
    max-width: 15rem;
  }

  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 80px;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #fff;
    font-size: 70px;
  }

  .cerrar-menu {
    color: #ececec;
  }

  .nav {
    width: 30vh;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    z-index: 20;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    font-size: 50px;
    color: #ecececec;
  }
}

/* fondo principal */
.fondo {
  width: 100%;
  height: 80%;
  background-image: url(img/fondo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .fondo {
    background-position: 70%;
  }
}

/* --------------body---------------------- */
/* floats redes */
.GridFloat {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  position: fixed;
  left: 1rem;
  top: 30%;
}

.grids {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.GridFloat .wsp {
  background-color: #25D366;
}

.GridFloat .instagram {
  background: rgb(131, 58, 180);
  background: linear-gradient(144deg, rgba(131, 58, 180, 1) 0%, rgba(225, 48, 108, 1) 72%);
}

.GridFloat .facebook {
  background-color: #385898;
}

.GridFloat .linkedin {
  background-color: #0e76a8;
}

.grids .bx {
  color: #fff;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20%;
  transition: .3s;
}

.grids .bx:hover {
  color: #000;
}

@media (max-width: 991px) {
  .grids {
    width: 120px;
    height: 120px;
  }

  .grids .bx {
    font-size: 70px;
    top: 25%;
  }
}

/* first section */
.firstSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  margin: 0 auto;
  height: 20rem;
  gap: 2rem;
}

.firstSection section {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstSection .text {
  position: relative;
}

.firstSection section div {
  color: #fff;
}

.firstSection section div h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
}

.firstSection section div p,
.firstSection section div li {
  color: #fff;
  margin-top: .5rem;
  font-size: 15px;
  font-weight: 500;
}

.firstSection section div span {
  font-weight: 900;
  color: rgb(211, 211, 211);
}

.img_cobertura {
  width: 50%;
  margin: 0 auto;
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .firstSection {
    width: 60%;
    height: 20rem;
  }
}

@media (max-width: 991px) {

  .firstSection {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    height: 80rem;
    gap: 2rem;
  }

  .firstSection section {
    position: relative;
    margin: 0 auto;
    width: 90%;
  }

  .firstSection section div h1 {
    font-size: 70px;
  }

  .mov1 {
    position: relative;
    top: 20%;
  }

  .mov2 {
    position: relative;
    bottom: 20%;
  }

  .img_cobertura {
    position: relative;
    bottom: 30%;
  }

  .firstSection section div p,
  .firstSection section div li {
    font-size: 35px;
    font-weight: 400;
  }

  .firstSection section div span {
    color: var(--color-primary);
  }
}

/* //////radio animacion////// */
.card {
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: 450px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: .5s;
}

.card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.card .circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  clip-path: circle(120px at center);
  transition: .7s;
}

.card:hover .circle:before {
  background-color: var(--color-primary);
  clip-path: circle(500px at center);
}

.card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  pointer-events: none;
  transition: .5s;
}

.card:hover img {
  left: 72%;
  height: 250px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .card {
    width: 900px;
    height: 550px;
  }

  .card .circle::before {
    clip-path: circle(140px at center);
  }

  .card:hover .circle:before {
    clip-path: circle(600px at center);
  }

}

/* texto en radio animacion*/
.card .content {
  position: relative;
  width: 50%;
  padding: 6rem 4rem 2rem 4rem;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
}

.card:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.card .content h2 {
  margin-bottom: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
}

.card .content p {
  color: rgb(211, 211, 211);
  font-size: 15px;
  font-weight: 500;
}

.card .content a {
  position: relative;
  color: #fff;
  padding: 15px 40px;
  font-size: 13px;
  background-color: var(--color-secondary);
  margin-top: 10px;
  display: inline-block;
}

.card .content a:hover {
  transition: .6s;
  background-color: #fff;
  color: var(--color-secondary);
}

@media (max-width: 991px) {
  .card {
    width: auto;
    max-width: 700px;
    align-items: flex-start;
  }

  .card:hover {
    height: 1500px;
  }

  .card .contentt {
    width: 100%;
    left: 0;
    padding: 30px;
  }

  .card img {
    top: 50%;
    height: 300px;
  }

  .card:hover img {
    top: 80%;
    left: 50%;
    height: 400px;
  }

  .card .circle::before {
    clip-path: circle(200px at center);
    transition: .7s;
  }

  .card:hover .circle:before {
    clip-path: circle(1000px at center);
  }

  /* texto en radio animacion*/
  .card .content {
    width: 100%;
    padding: 10rem 5rem 5rem 5rem;
  }

  .card .content h2 {
    font-size: 60px;
    margin-bottom: 1rem;
  }

  .card .content p {
    font-size: 35px;
  }

  .card .content a {
    padding: 20px 40px;
    margin-top: 2rem;
    font-size: 30px;
  }

}


/* PROVEEDORES */

.gridProveedores {
  margin-top: 5rem;
  position: relative;
  left: 10%;
  width: 80%;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 20rem);
}

.proveedores {
  height: 100%;
  width: 100%;
}

.imgProveedor {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .gridProveedores {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

/* SECTION EMISORAS*/
.sectionEmisoras {
  position: relative;
  top: 10%;
  width: 80%;
  height: 35%;
  margin: 0 auto;
  text-align: center;
}

.sectionEmisoras h1 {
  color: #fff;
  font-size: 40px;
}

.sectionEmisoras p {
  padding: 2rem;
  color: rgb(211, 211, 211);
  font-size: 15px;
  font-weight: 500;
}

.sectionEmisoras a {
  padding: 15px 40px;
  font-size: 13px;
  background-color: var(--color-secondary);
  color: #fff;
}

.sectionEmisoras a:hover {
  background-color: #fff;
  transition: .6s;
  color: var(--color-secondary);
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .sectionEmisoras p {
    width: 70%;
    margin: 0 auto;
  }

  .sectionEmisoras a {
    position: relative;
    top: 2rem;
  }

}

@media screen and (max-width: 992px) {
  .sectionEmisoras {
    height: 40%;
    margin-top: 5rem;
  }

  .sectionEmisoras h1 {
    font-size: 70px;
  }

  .sectionEmisoras p {
    color: #fff;
    font-weight: 400;
    padding: 4rem;
    font-size: 35px;
  }

  .sectionEmisoras a {
    padding: 20px 40px;
    font-size: 35px;
  }

}

/* GRID INFO */

.gridInfo {
  width: 80%;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 7rem);
  margin: 0 auto;
}

.Info {
  display: flex;
}

.InfoIcons {
  color: #fff;
  font-size: 40px;
  padding: 2rem;
}

.divInfo {
  position: relative;
  top: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.divInfo h2 {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.divInfo p {
  color: rgb(211, 211, 211);
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

@media screen and (max-width: 992px) {

  .gridInfo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .InfoIcons {
    font-size: 40px;
  }

  .divInfo {
    top: 1rem;
  }

  .divInfo h2 {
    font-size: 25px;
  }

  .divInfo p {
    font-size: 18px;
  }
}

/* FOOTER */
footer {
  margin-top: 10rem;
  background-color: #333333;
  width: 100%;
  height: 55%;
}

.gridFooter {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 80%;
}

.navFooter {
  display: flex;
  flex-direction: column;
}

.navFooter h1,
h3,
ul,
p {
  color: #fff;
}

.navFooter h3 {
  font-size: 19px;
  font-weight: 500;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.navFooter p {
  color: #eee;
  font-size: 13px;
  font-weight: 300;
  margin-top: .5rem;
}

.navFooter ul li {
  color: #eee;
  font-size: 13px;
  font-weight: 300;
  margin-top: .5rem;
}

.navFooter div {
  position: relative;
  top: 20%;
  width: 80%;
  margin: 0 auto;
}

.navFooter .redes {
  gap: 1rem;
  width: 50%;
  display: flex;

}

.iconsFooter {
  position: relative;
  right: 50%;
  color: #fff;
  font-size: 25px;
}

.iconsFooter :hover,
.navFooter ul li:hover {
  transition: .3s;
  color: var(--color-primary);
}

.logoFooter {
  position: relative;
  top: 20%;
  left: 20%;
  width: 60%;
}

.fondoFooter {
  width: 90%;
  height: 5rem;
  border-top: #6666 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.fondoFooter h3 {
  font-size: 13px;
  color: #999;
  font-weight: 400;
}

.fondoFooter a {
  color: var(--color-primary);
}

.fondoFooter a:hover {
  color: #666;
  transition: .3s;
}

@media screen and (max-width: 992px) {

  footer {
    height: 60%;
  }

  .gridFooter {
    gap: 0rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 80%;
  }

  .navFooter h3 {
    font-size: 25px;
  }

  .navFooter p {
    font-size: 15px;
    margin-top: 1rem;
  }

  .navFooter ul li {
    margin-top: 1rem;
  }

  .iconsFooter {
    font-size: 30px;
  }

  .fondoFooter h3 {
    font-size: 18px;
  }
}

/* ////////////////////          PAGINA EMISORAS              /////////////////////////////*/

.tituloEmisoras {
  padding: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tituloEmisoras h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .5rem;
}

/* MAPA */

.mapa {
  width: 25%;
  margin: 0 auto;
}

.mapa path {
  fill: var(--color-primary);
  stroke: #000;
  stroke-width: 2px;
}

.mapa :hover {
  transition: .3s;
  fill: var(--color-secondary);
}

.mapa a {
  cursor: pointer;
}

.mapa2 {
  width: 5rem;
}

/* MODAL */

/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modal__container {
  margin: auto;
  width: 90%;
  max-width: 900px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: var(--transition);
}

.modal__close {
  font-size: 50px;
  color: #000;
  padding: 5px;
}

.modal__close:hover {
  transition: .3s;
  color: var(--color-secondary);
} */

/* ////////////////////          PAGINA NOSOTROS              /////////////////////////////*/
.bodyNosotros {
  background-color: #fff;
}

.tituloNosotros {
  text-align: center;
  padding: 5rem;
}

.tituloNosotros h1 {
  letter-spacing: .5rem;
  margin-bottom: 1rem;
  color: #333;
  font-size: 30px;
}

.tituloNosotros h2 {
  margin-bottom: 1rem;
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
}

.tituloNosotros p {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 16px;
  color: #000;
  width: 80%;
  margin: 0 auto;
}

/* fondo principal */
.fondoNosotros {
  width: 100%;
  height: 50%;
  background-image: url(img/equipo-sala-grabacion-musical-vacia.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.fondoNosotros div {
  z-index: 5;
  display: flex;
  position: relative;
  float: right;
  width: 30%;
  height: 100%;
}

.fondoNosotros h1 {
  position: relative;
  letter-spacing: .5rem;
  top: 30%;
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  right: 35%;
}

@media (min-width: 1920px) and (max-width: 2560px) {

  .fondoNosotros h1 {
    font-size: 90px;
  }
}

@media screen and (max-width: 992px) {

  .fondoNosotros div {
    float: none;
    margin: 0 auto;
  }

  .fondoNosotros h1 {
    top: 30%;
    font-size: 90px;
  }
}



/* first section */
.firstNosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 0 auto;
  height: 30rem;
}

.firstNosotros section {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstNosotros section div {
  color: #000;
  width: 50%;
}

.firstNosotros section div h1 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  font-size: 25px;
}

.firstNosotros section div p,
li {
  margin-top: .5rem;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

.section1 {
  background-image: url(img/vista-frontal-mujer-espacio.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.section2 {
  width: 100%;
  background-color: #222222;
}

.section3 {
  width: 100%;
  background-color: #222222;
}

.section4 {
  background-color: rgb(255, 191, 0);
  width: 100%;
}

/* SECOND FIRST*/
.firstNosotros2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 0 auto;
  height: 30rem;
}

@media (min-width: 1920px) and (max-width: 2560px) {

  .firstNosotros,
  .firstNosotros2 {
    height: 40rem;
  }
}

.firstNosotros2 section {
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstNosotros2 section div {
  width: 50%;
}

.firstNosotros2 section div h1 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  font-size: 25px;
}

.firstNosotros2 section div h2 {
  color: #fff;
  font-weight: 900;
  font-size: 20px;
}

.firstNosotros2 section div p,
li {
  margin-top: .5rem;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}






/* ////////////////////          PAGINA CONTACTO              /////////////////////////////*/

.divForm {
  width: 100%;
}

.divForm h1 {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  margin-bottom: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

input,
textarea {
  margin: 10px;
  padding: 15px;
  font-size: 13px;
  color: #333;
}

input[type="submit"] {
  margin: 0 auto;
  position: relative;
  top: 3rem;
  border: none;
  width: 12rem;
  color: #fff;
  background-color: var(--color-secondary);
}

input[type="submit"]:hover {
  background-color: #fff;
  color: var(--color-secondary);
  transition: .6s;
  cursor: pointer;
}

input {
  width: 100%;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  min-width: 100%;
  max-width: 100%;
}










/* ANIMACION DE QUE ES RARA */

.logo-holder {
  background: transparent;
  width: 180px;
  height: 220px;
  position: relative;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 24px;
  -webkit-transform: translateZ(0);
}

.bar {
  position: relative;
  height: 12px;
  background: #6a6a6a;
  width: 0%;
  top: 0px;
  left: 18px;
  margin-top: 8px;
  animation: fill 5s infinite alternate, colors 5s infinite alternate;
}

@media screen and (max-width: 992px) {
  .logo-holder {
    visibility: hidden;
    width: 300px;
    height: 220px;
  }

  .bar {
    height: 23px;
  }

}

.bar.fill1 {
  animation: fill-1 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill2 {
  animation: fill-2 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill3 {
  animation: fill-3 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill4 {
  animation: fill-4 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill5 {
  animation: fill-5 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill6 {
  animation: fill-6 5s infinite alternate, colors 5s infinite alternate;
}

@keyframes fill {
  0% {
    width: 0;
  }

  33% {
    width: 30px;
  }

  66% {
    width: 10px;
  }

  100% {
    width: 105px;
  }
}

@keyframes fill-1 {
  0% {
    width: 0;
  }

  33% {
    width: 50px;
  }

  66% {
    width: 20px;
  }

  100% {
    width: 130px;
  }
}

@keyframes fill-2 {
  0% {
    width: 0;
  }

  33% {
    width: 90px;
  }

  66% {
    width: 70px;
  }

  100% {
    width: 136px;
  }
}

@keyframes fill-3 {
  0% {
    width: 0;
  }

  33% {
    width: 50px;
  }

  66% {
    width: 24px;
  }

  100% {
    width: 109px;
  }
}

@keyframes fill-4 {
  0% {
    width: 0;
  }

  33% {
    width: 98px;
  }

  66% {
    width: 34px;
  }

  100% {
    width: 99px;
  }
}

@keyframes fill-5 {
  0% {
    width: 0;
  }

  33% {
    width: 30px;
  }

  66% {
    width: 10px;
  }

  100% {
    width: 148px;
  }
}


@keyframes fill-6 {
  0% {
    width: 0;
  }

  33% {
    width: 48px;
  }

  66% {
    width: 22px;
  }

  100% {
    width: 140px;
  }
}

@keyframes colors {
  0% {
    background-color: var(--color-primary);
  }

  50% {
    background-color: var(--color-secondary);
  }

  100% {
    background-color: var(--color-primary);
  }
}

/* --------------------- PANTALLA DE CARGA -------------- */

@keyframes ldio-2r4186pcb7q {
  0% {
    opacity: 0
  }

  20% {
    opacity: 1
  }

  100% {
    opacity: 1
  }
}

.ldio-2r4186pcb7q div {
  position: absolute;
  animation: ldio-2r4186pcb7q 1s linear infinite;
  box-sizing: border-box !important;
}

.ldio-2r4186pcb7q div:nth-child(1) {
  width: 44px;
  height: 44px;
  left: 34px;
  top: 128px;
  border-radius: 50%;
  background: #b21313;
}

.ldio-2r4186pcb7q div:nth-child(2) {
  width: 66px;
  height: 66px;
  left: 56px;
  top: 84px;
  border-radius: 0 66px 0 0;
  border: 20px solid #3564de;
  background: none;
  animation-delay: 0.1s;
  border-bottom: 0;
  border-left: 0
}

.ldio-2r4186pcb7q div:nth-child(3) {
  width: 110px;
  height: 110px;
  left: 56px;
  top: 40px;
  border-radius: 0 110px 0 0;
  border: 20px solid #b21313;
  background: none;
  animation-delay: 0.2s;
  border-bottom: 0;
  border-left: 0
}

.loadingio-spinner-radio-f3k4pxj30tp {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}

.ldio-2r4186pcb7q {
  width: 20%;
  height: 20%;
  margin: 0 auto;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-2r4186pcb7q div {
  box-sizing: content-box;
}

.loader {
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  clip-path: circle(150% at 100% 0);
  transition: clip-path 3s ease-in-out;
}

.loader2 {
  clip-path: circle(0% at 100% 0);
}