:root {
    --color-primary: #2661BF;
    --color-secondary: #D62222;
    --color-tertiary: ;
    --gradient-primary: #0F1218;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100%;
    height: 100vh;
    background-color: var(--gradient-primary);
}

header {
    z-index: 20;
    margin: 0 auto;
    position: fixed;
    width: 80%;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    transition: 1s all;
    background-color: transparent;
}

header.abajo {
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: #000;
    transition: 1s all;
    z-index: 20;
}

header .logo {
    cursor: pointer;
    max-width: 7rem;
}

.nav-list {
    position: relative;
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav-list li a {
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

.nav-list li a:hover {
    color: var(--color-secondary);
}

.nav-list li a:active {
    color: var(--color-secondary);
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 992px) {
    header {
        width: 100%;
        left: 0%;
    }

    header.abajo {
        margin-top: 0rem;
    }

    .logo {
        max-width: 10rem;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 50px;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #fff;
        font-size: 50px;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        width: 30vh;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        z-index: 20;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        font-size: 20px;
        color: #ecececec;
    }
}

/* ---------------BODY--------------------- */

.tituloEmisoras {
    padding: 5rem;
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: center;
}

.tituloEmisoras h1 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 900;
}

/* floats redes */
.GridFloat {
    z-index: 100;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    position: fixed;
    left: 1rem;
    top: 30%;
}

.grids {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.GridFloat .wsp {
    background-color: #25D366;
}

.GridFloat .instagram {
    background: rgb(131, 58, 180);
    background: linear-gradient(144deg, rgba(131, 58, 180, 1) 0%, rgba(225, 48, 108, 1) 72%);
}

.GridFloat .facebook {
    background-color: #385898;
}

.GridFloat .linkedin {
    background-color: #0e76a8;
}

.grids .bx {
    color: #fff;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
    transition: .3s;
}

.grids .bx:hover {
    color: #666;
}

/* --------------- CARROUSEL ----------- */

/* SLIDER */
.slider {
    max-width: 100rem;
    height: 40rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}

.slide>img {
    /* Only for images that have different size than slide */
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background: var(--color-primary);
    font-family: inherit;
    color: #fff;
    height: 3rem;
    width: 3rem;
    font-size: 3rem;
    cursor: pointer;
}

.slider__btn2 {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background: var(--color-primary);
    font-family: inherit;
    color: #fff;
    height: 3rem;
    width: 3rem;
    font-size: 3rem;
    cursor: pointer;
}

.slider__btn:hover,
.slider__btn2:hover {
    transition: .4s;
    background-color: var(--color-secondary);
}

.slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
}

.slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
}

.dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dots__dot {
    border: none;
    background-color: var(--color-primary);
    opacity: 0.7;
    height: .3rem;
    width: .3rem;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.5s;
}


.dots__dot:last-child {
    margin: 0;
}

.dots__dot--active {
    /* background-color: #fff; */
    background-color: var(--color-secondary);
    opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    height: 70%;
    position: relative;
}

.cardsRadios {
    display: flex;
    width: 100%;
    height: 100%;
}

.cardsRadios div {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 10%;

}

.cardsRadios h1 {
    border-radius: 1rem;
    padding: 10px;
    width: 10rem;
    background-color: rgb(0, 49, 83);
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

.logoRadio {
    width: 100%;
}

/* SLIDER */
/* .slider {
    max-width: 100rem;
    height: 35rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}

.slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background: var(--color-primary);
    font-family: inherit;
    color: #fff;
    height: 3rem;
    width: 3rem;
    font-size: 3rem;
    cursor: pointer;
}

.slider__btn2 {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background: var(--color-primary);
    font-family: inherit;
    color: #fff;
    height: 3rem;
    width: 3rem;
    font-size: 3rem;
    cursor: pointer;
}

.slider__btn:hover,
.slider__btn2:hover {
    transition: .4s;
    background-color: var(--color-secondary);
}

.slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
}

.slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
}

.dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dots__dot {
    border: none;
    background-color: var(--color-primary);
    opacity: 0.7;
    height: .3rem;
    width: .3rem;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.5s;
}

.dots__dot:last-child {
    margin: 0;
}

.dots__dot--active {   
    background-color: var(--color-secondary);
    opacity: 1;
} */

/* TESTIMONIALS */
/* .testimonial {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    height: 100%;
    position: relative;
}

.cardsRadios {
    display: flex;
    width: 100%;
    height: 100%;
}

.cardsRadios div {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 10%;

}

.logoRadio {
    width: 300px;
} */

/* FOOTER */

/* FOOTER */
footer {
    margin-top: 10rem;
    background-color: #333333;
    width: 100%;
    height: 55%;
}

.gridFooter {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 80%;
}

.navFooter {
    display: flex;
    flex-direction: column;
}

.navFooter h1,
h3,
ul,
p {
    color: #fff;
}

.navFooter h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.navFooter p {
    color: #eee;
    font-size: 13px;
    font-weight: 300;
    margin-top: .5rem;
}

.navFooter ul li {
    font-size: 13px;
    font-weight: 300;
    margin-top: .5rem;
}

.navFooter div {
    position: relative;
    top: 20%;
    width: 80%;
    margin: 0 auto;
}

.navFooter .redes {
    gap: 1rem;
    width: 50%;
    display: flex;

}

.iconsFooter {
    position: relative;
    right: 50%;
    color: #fff;
    font-size: 25px;
}

.iconsFooter :hover,
.navFooter ul li:hover {
    transition: .3s;
    color: var(--color-primary);
}

.logoFooter {
    position: relative;
    top: 20%;
    left: 20%;
    width: 60%;
}

.fondoFooter {
    width: 90%;
    height: 5rem;
    border-top: #6666 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.fondoFooter h3 {
    font-size: 13px;
    color: #999;
    font-weight: 400;
}

.fondoFooter a {
    color: var(--color-primary);
}

.fondoFooter a:hover {
    color: #666;
    transition: .3s;
}


/* PAGINA BUENOS AIRES */
.tituloProvincia {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40%;
    color: #fff;
    font-size: 80px;
    font-weight: 900;
}

.fondoBsAs {
    background-image: url(img/FONDOS_PROVINCIAS/BS_AS/Buenos_Aires.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoCABA {
    background-image: url(img/FONDOS_PROVINCIAS/CABA/CABA.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoFormosa {
    background-image: url(img/FONDOS_PROVINCIAS/FORMOSA/formosa.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoSanjuan {
    background-image: url(img/FONDOS_PROVINCIAS/SANJUAN/san\ juan.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoPampa {
    background-image: url(img/FONDOS_PROVINCIAS/LAPAMPA/la\ pampa.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}