:root {
    --color-primary: #2661BF;
    --color-secondary: #D62222;
    --color-tertiary: ;
    --gradient-primary: #0F1218;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Oswald', sans-serif;
}

body {
    min-height: 100%;
    height: 100vh;
    background-color: var(--gradient-primary);
}

header {
    z-index: 20;
    margin: 0 auto;
    position: fixed;
    width: 80%;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    transition: 1s all;
    background-color: transparent;
}

header.abajo {
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, .8);
    transition: 1s all;
    z-index: 20;
}

header .logo {
    cursor: pointer;
    max-width: 7rem;
}

.nav-list {
    position: relative;
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav-list li a {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

.nav-list li a:hover {
    color: var(--color-secondary);
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 992px) {
    header {
        width: 100%;
        left: 0%;
    }

    header.abajo {
        margin-top: 0rem;
        border-radius: 0;
    }

    header .logo {
        max-width: 15rem;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 80px;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #fff;
        font-size: 70px;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        width: 30vh;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        z-index: 20;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        font-size: 50px;
        color: #ecececec;
    }
}


/* ---------------BODY--------------------- */

.tituloEmisoras {
    margin: 0 auto;
    top: 4rem;
    position: relative;
    width: 70%;
    height: 10rem;
    display: flex;
    text-align: left;
    justify-content: center;
}

.tituloEmisoras h1 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    letter-spacing: .5rem;
    font-weight: 900;
}

@media screen and (max-width: 992px) {
    .tituloEmisoras {
        top: 15rem;
    }

    .tituloEmisoras h1 {
        font-size: 80px;
    }

}

/* floats redes */
.GridFloat {
    z-index: 100;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    position: fixed;
    left: 1rem;
    top: 30%;
}

.grids {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.GridFloat .wsp {
    background-color: #25D366;
}

.GridFloat .instagram {
    background: rgb(131, 58, 180);
    background: linear-gradient(144deg, rgba(131, 58, 180, 1) 0%, rgba(225, 48, 108, 1) 72%);
}

.GridFloat .facebook {
    background-color: #385898;
}

.GridFloat .linkedin {
    background-color: #0e76a8;
}

.grids .bx {
    color: #fff;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
    transition: .3s;
}


.grids .bx:hover {
    color: #000;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .grids .bx {
        font-size: 50px;
    }

    .grids {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 991px) {
    .grids {
        width: 120px;
        height: 120px;
    }

    .grids .bx {
        font-size: 70px;
        top: 25%;
    }
}

/* --------------- CARROUSEL ----------- */

/* SLIDER */
.slider {
    max-width: 85rem;
    height: 40rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}

.slide>img {
    /* Only for images that have different size than slide */
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.slider__btn,
.slider__btn2 {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background: var(--color-primary);
    font-family: inherit;
    color: #fff;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    cursor: pointer;
}

.slider__btn:hover,
.slider__btn2:hover {
    transition: .4s;
    background-color: var(--color-secondary);
}

.slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
}

.slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
}

.dots {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dots__dot {
    border: none;
    background-color: var(--color-primary);
    opacity: 0.7;
    height: .3rem;
    width: .3rem;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.5s;
}

.dots__dot:last-child {
    margin: 0;
}

.dots__dot--active {
    /* background-color: #fff; */
    background-color: var(--color-secondary);
    opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    height: 70%;
    position: relative;
}

.cardsRadios {
    border-radius: 1rem;
    background-color: #1c1c1c;
    /* background: rgb(46, 60, 72);
    background: linear-gradient(357deg, rgba(46, 60, 72, 1) 19%, rgba(13, 20, 24, 0.9849439775910365) 100%); */
    display: flex;
    width: 100%;
    height: 100%;
}

.cardsRadios div {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.cardsRadios h1 {
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}

.logoRadio {
    border-radius: 1rem;
    width: 100%;
    height: 70%;
}



@media screen and (max-width: 992px) {
    .slider {
        max-width: 85rem;
        height: 170vh;
    }

    .slide {
        width: 100%;
        height: 100%;
    }

    .slider__btn,
    .slider__btn2 {
        z-index: 100000000000;
        height: 5rem;
        width: 5rem;
        font-size: 3rem;
    }

    .slider__btn--left {
        left: 10%;
    }

    .slider__btn--right {
        right: 10%;
    }

    .dots {
        bottom: 10%;
        left: 50%;
    }

    .dots__dot {
        height: 1rem;
        width: 1rem;
    }

    .testimonial {
        gap: 5rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 60%;
        height: 60%;
    }

    .cardsRadios div {
        top: 0%;
    }

    .cardsRadios h1 {
        font-size: 35px;
    }

    .logoRadio {
        margin-bottom: 1rem;
    }
}


/* FOOTER */
footer {
    background-color: #333333;
    width: 100%;
    height: 55%;
}

.gridFooter {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 80%;
}

.navFooter {
    display: flex;
    flex-direction: column;
}

.navFooter h1,
h3,
ul,
p {
    color: #fff;
}

.navFooter h3 {
    font-size: 19px;
    font-weight: 500;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.navFooter p {
    color: #eee;
    font-size: 13px;
    font-weight: 300;
    margin-top: .5rem;
}

.navFooter ul li,
.navFooter ul li a {
    color: #eee;
    font-size: 13px;
    font-weight: 300;
    margin-top: .5rem;
}

.navFooter div {
    position: relative;
    top: 20%;
    width: 80%;
    margin: 0 auto;
}

.navFooter .redes {
    gap: 1rem;
    width: 50%;
    display: flex;

}

.iconsFooter {
    position: relative;
    right: 50%;
    color: #fff;
    font-size: 25px;
}

.iconsFooter :hover,
.navFooter ul li:hover {
    transition: .3s;
    color: var(--color-primary);
}

.logoFooter {
    position: relative;
    top: 20%;
    left: 20%;
    width: 60%;
}

.fondoFooter {
    width: 90%;
    height: 5rem;
    border-top: #666 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.fondoFooter h3 {
    font-size: 13px;
    color: #999;
    font-weight: 400;
}

.fondoFooter a {
    color: var(--color-primary);
}

.fondoFooter a:hover {
    color: #666;
    transition: .3s;
}

@media screen and (max-width: 992px) {

    footer {
        height: 120%;
    }

    .gridFooter {
        gap: 0rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1rem, 30rem, 30rem, 30rem, 20rem);
        height: 80%;
    }

    .navFooter h3 {
        margin-top: 2rem;
        font-size: 45px;
    }

    .navFooter p,
    .navFooter ul li a {
        color: rgb(211, 211, 211);
        font-size: 35px;
        font-weight: 400;
        margin-top: 1rem;
    }

    .iconsFooter {
        font-size: 60px;
    }

    .logoFooter {
        top: 40%;
        left: 5%;
        width: 30%;
    }

    .fondoFooter {
        height: 10rem;
    }

    .fondoFooter h3 {
        font-size: 25px;
    }
}

/* PAGINA BUENOS AIRES */
.tituloProvincia {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    top: 40%;
    color: #fff;
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3rem;
}

.fondoBsAs {
    background-image: url(img/FONDOS_PROVINCIAS/BS_AS/Buenos_Aires.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoCABA {
    background-image: url(img/FONDOS_PROVINCIAS/CABA/CABA.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoFormosa {
    background-image: url(img/FONDOS_PROVINCIAS/FORMOSA/formosa.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoSanjuan {
    background-image: url(img/FONDOS_PROVINCIAS/SANJUAN/san\ juan.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoPampa {
    background-image: url(img/FONDOS_PROVINCIAS/LAPAMPA/la\ pampa.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoSantafe {
    background-image: url(img/FONDOS_PROVINCIAS/SANTAFE/fondo\ .jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoSantiagodelestero {
    background-image: url(img/FONDOS_PROVINCIAS/SANTIAGODELESTERO/fondo.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoRionegro {
    background-image: url(img/FONDOS_PROVINCIAS/RIONEGRO/FONDO.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoChubut {
    background-image: url(img/FONDOS_PROVINCIAS/CHUBUT/Chubut-Argentina.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoChaco {
    background-image: url(img/FONDOS_PROVINCIAS/CHACO/chaco.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoLarioja {
    background-image: url(img/FONDOS_PROVINCIAS/LARIOJA/FONDO.jpeg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoEntrerios {
    background-image: url(img/FONDOS_PROVINCIAS/ENTRERIOS/fondo.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoJujuy {
    background-image: url(img/FONDOS_PROVINCIAS/JUJUY/Jujuy_01.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoNeuquen {
    background-image: url(img/FONDOS_PROVINCIAS/NEUQUEN/fondo.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoCatamarca {
    background-image: url(img/FONDOS_PROVINCIAS/CATAMARCA/fondo.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoCordoba {
    background-image: url(img/FONDOS_PROVINCIAS/CORDOBA/cordoba.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoTucuman {
    background-image: url(img/FONDOS_PROVINCIAS/TUCUMAN/tucuman.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoSanluis {
    background-image: url(img/FONDOS_PROVINCIAS/SANLUIS/san\ luis.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoCorrientes {
    background-image: url(img/FONDOS_PROVINCIAS/CORRIENTES/CORRIENTESFONDO.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fondoSalta {
    background-image: url(img/FONDOS_PROVINCIAS/SALTA/FONDO.PNG);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}